.container{
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 600px;
}

.form {
    background-color: #ccc;
    border-radius: 5px;
    width: 100%;
}
textarea{
    margin-top: 10px;
}
td{
    padding: 0 30px 10px 0;

}
.btn{
    margin-top: 10px;
}