#title{
    color: red;
}

.sub-title{
    color: blue;
}

h3{
    color: green;
}

.menu > ul > ul  {
    color:red;
}

div.content h2{
    color: aqua;
}

section.content.box{
    color: red;
}
section.content#box{
    color: rgb(234, 0, 255);
}

/* p ~ h2  chon tat ca sau p khi ngang hang{
    color: blue;
 
}
 
p ~ div h2{
    color: green;
} */

/* p + h2 chon 1 the h2 sau p khi ngang hang{
    color: red;
} */

/* h2 + h2{
    color: rgb(153, 51, 51);
} */

/* p + h2, p + h2 + h2{
    color: red;
} */

