@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

body {
  overflow-x: hidden;
  font-family: Inter, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #46b20f;
}

h2 {
  color: #2c2c2c;
  font-size: 36.667px;
  font-weight: 800;
  line-height: 48.225px;
}

h3 {
  color: #2c2c2c;
  font-size: 31.667px;
  font-weight: 800;
  line-height: 41.649px;
}

h4 {
  color: #2c2c2c;
  font-size: 23.333px;
  font-weight: 700;
  line-height: normal;
}

h5 {
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 600;
  line-height: 26.667px;
}

h6 {
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 600;
  line-height: 26.667px;
}

p {
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.417px;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.center {
  justify-content: center;
}

.end {
  justify-content: end;
}

header {
  background: var(--White, #FFF);
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
}
header .logo {
  height: 100%;
  display: flex;
  align-items: center;
}
header .container .row {
  display: flex;
  align-items: center;
}
header .container .row .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
}
header .container .row .navbar ul li {
  position: relative;
}
header .container .row .navbar ul li .num {
  position: absolute;
  top: 25px;
  left: 14px;
  font-size: 10px;
  color: #fff;
  z-index: 10;
}
header .container .row .navbar ul li .header-cart {
  position: relative;
}
header .container .row .navbar ul li .header-cart::after {
  content: "";
  background-color: #E05000;
  position: absolute;
  width: 13.333px;
  height: 13.333px;
  border-radius: 99px;
  top: 25px;
  left: 10px;
}
header .container .row .navbar ul li .header-cart i {
  width: 23.333px;
  height: 23.333px;
}
header .container .row .navbar ul li a {
  display: flex;
  padding: 35px 0;
}
header .container .row .navbar ul li:hover {
  border-bottom: 1px solid #46B20F;
}
header .container .row .navbar ul .header-active {
  border-bottom: 1px solid #46B20F;
}
header .container .row .navbar ul .header-active a {
  color: #46B20F;
}

@media screen and (max-width: 991px) {
  #bar-check:checked ~ header .container .navbar {
    max-height: 500px;
    opacity: 1;
  }
  header .container .row .navbar {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    text-align: center;
    background-color: #C5FFA8;
  }
  header .container .row .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  header .container .row .navbar ul li {
    text-align: center;
  }
  header .container .row .navbar ul li .num {
    top: 25px;
    left: 16px;
  }
  header .container .row .navbar ul li .header-cart::after {
    content: "";
    background-color: #E05000;
    position: absolute;
    border-radius: 99px;
    top: 25px;
    left: 12px;
  }
  header .container .row .navbar ul li .header-cart i {
    width: 23.333px;
    height: 23.333px;
  }
  header .container .row .bar {
    font-size: 2.2rem;
    margin-left: auto;
    padding-right: 30px;
  }
}
@media screen and (min-width: 991px) {
  header .container .row .bar {
    display: none;
  }
}
.banner .container {
  padding: 0;
}
.banner .container .background-green {
  position: relative;
  width: 50vw;
  height: 100%;
  background-color: #DCFFCA;
  border-radius: 20px;
}
.banner .container .background-green .banner-box {
  position: relative;
}
.banner .container .background-green .banner-box .image {
  position: absolute;
  top: 0px;
  left: -140px;
}
.banner .container .background-green .banner-box .image img {
  width: 613.63px;
  height: 615.671px;
}
.banner .container .background-green .banner-box .banner-box-content {
  position: absolute;
  top: 60px;
  left: 350px;
}
.banner .container .background-green .banner-box .banner-box-content p {
  font-size: 166.667px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  writing-mode: vertical-lr;
  color: #216000;
  line-height: 166.667px;
  opacity: 0.15;
}
.banner .container .banner-content {
  display: block;
  margin: 200px auto;
}
.banner .container .banner-content h3 {
  font-size: 36.667px;
  font-weight: 800;
}
.banner .container .banner-content h2 {
  font-size: 43.333px;
  max-width: 80%;
  font-weight: 800;
  margin-top: 10px;
}
.banner .container .banner-content p {
  font-size: 16px;
  max-width: 85%;
  font-weight: 400;
  line-height: 20.417px;
  margin-top: 27.67px;
}

.about {
  margin-top: 100px;
}
.about .container .header {
  position: relative;
}
.about .container .header h3 {
  margin: 0 auto;
  text-align: center;
  max-width: 50%;
}
.about .container .header p {
  margin: 20px auto;
  text-align: center;
  max-width: 59%;
}
.about .container .about-content {
  padding: 50px 50px 20px;
  position: relative;
}
.about .container .about-content .first-circle::before {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #DCFFCA;
  border-radius: 99px;
  position: absolute;
  top: 0;
  left: 0;
}
.about .container .about-content .second-circle::before {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #FFD5BD;
  border-radius: 99px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.about .container .about-content .ratings {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin: 20px auto 80px;
  height: 350px;
}
.about .container .about-content .ratings .ratings-item {
  background-color: #fff;
  padding: 33.33px 0 0 33.33px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 294.167px;
  height: 337.5px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  margin-top: 27.5px;
}
.about .container .about-content .ratings .ratings-item .icon-background {
  width: 83.333px;
  height: 83.333px;
  background-color: #FFF0E7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .container .about-content .ratings .ratings-item .icon-background img {
  width: 45px;
  height: 45px;
}
.about .container .about-content .ratings .ratings-item h2 {
  margin: 23.33px 0;
}
.about .container .about-content .ratings .ratings-item p {
  color: var(--Content, #2C2C2C);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px;
  text-align: left;
  margin-right: 33.33px;
}
.about .container .about-content .ratings .ratings-center-item {
  background-color: #fff;
  padding: 66.66px 0 0 33.33px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 342.5px;
  height: 392.5px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.about .container .about-content .ratings .ratings-center-item .icon-background {
  width: 83.333px;
  height: 83.333px;
  background-color: #F2FFEC;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .container .about-content .ratings .ratings-center-item .icon-background img {
  width: 45px;
  height: 45px;
}
.about .container .about-content .ratings .ratings-center-item h2 {
  margin: 23.33px 0;
}
.about .container .about-content .ratings .ratings-center-item p {
  color: var(--Content, #2C2C2C);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px;
  text-align: left;
  margin-right: 35px;
}

.products {
  margin-top: 100px;
  text-align: center;
}
.products .container .product-list .product-item {
  margin-top: 40px;
}
.products .container .product-list .product-item .product-image img {
  width: 269.316px;
}
.products .container .product-list .product-item .product-content {
  text-align: center;
}
.products .container .product-list .product-item .product-content .product-line {
  margin: 12.5px auto;
  width: 40.833px;
  height: 2px;
  background-color: #A3A3A3;
}
.products .container .product-list .product-item .product-content span {
  color: #656565;
  display: block;
}
.products .container .product-list .product-item .product-content p {
  color: #2C2C2C;
  margin: 10px auto;
}
.products .container .product-list .product-item .product-content p .price {
  color: #2C2C2C;
  display: inline;
  font-size: 23.333px;
}
.products .container .product-list .product-item .product-btn {
  margin-top: 20px;
}
.products .container .product-list .product-item .product-btn a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #46B20F;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.products .container .product-list .product-item .product-btn a:hover {
  background-color: #38890f;
}

.news {
  margin-top: 100px;
}
.news .header {
  text-align: center;
}
.news .header p {
  max-width: 57%;
  margin: 23px auto;
}
.news .news-content .image img {
  width: 100%;
}
.news .news-wrapper-btn {
  margin: 79.67px auto;
}
.news .news-wrapper-btn .news-btn {
  display: flex;
  margin: 0 auto;
  padding: 11.667px 21.667px;
  justify-content: center;
  align-items: center;
  border: 1px solid #46B20F;
  border-radius: 10px;
  width: fit-content;
}

.benefit {
  margin-top: 100px;
  position: relative;
}
.benefit .header {
  position: relative;
  z-index: 10;
  text-align: center;
}
.benefit .header span {
  display: block;
}
.benefit .header p {
  max-width: 70%;
  margin: 24.33px auto 50px;
}
.benefit .benefit-content {
  position: relative;
  z-index: 10;
  height: 100%;
}
.benefit .benefit-content .benefit-content-item {
  background-color: #fff;
  height: 100%;
  border-radius: 10px;
}
.benefit .benefit-content .benefit-content-item .benefit-content-txt {
  padding: 24.17px 0 0 27.5px;
}
.benefit .benefit-content .benefit-content-item .benefit-content-txt p {
  max-width: 70%;
}
.benefit .benefit-content .benefit-content-item .benefit-content-txt .center-txt {
  max-width: 90%;
}
.benefit::before {
  content: "";
  background-color: #FFF0E7;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 360.833px;
  z-index: 0;
}

.feature {
  margin-top: 100px;
}
.feature .feature-item {
  display: flex;
}
.feature .feature-item .feature-image img {
  width: 55.833px;
  height: 55.833px;
}
.feature .feature-item .feature-content {
  margin-left: 15.83px;
}
.feature .feature-item .feature-content p {
  margin-top: 6.67px;
  max-width: 84%;
}

.contact {
  margin-top: 100px;
}
.contact .contact-form {
  margin-top: 88px;
}
.contact .contact-form h5 span {
  display: block;
}
.contact .contact-form form input {
  width: 100%;
  border: 1px solid #A3A3A3;
  border-radius: 10px;
  padding: 13.33px;
  margin-top: 22.67px;
}
.contact .contact-form form .contact-row {
  display: flex;
  flex-grow: 1;
}
.contact .contact-form form .contact-row input:first-child {
  margin-right: 17.5px;
}
.contact .contact-form form textarea {
  width: 100%;
  height: 130px;
  border: 1px solid #A3A3A3;
  border-radius: 10px;
  padding: 13.33px;
  margin-top: 22.67px;
}
.contact .contact-form form .contact-btn {
  margin-top: 26.6px;
  display: flex;
  justify-content: flex-end;
}
.contact .contact-form form .contact-btn a {
  padding: 15px 50px;
  border-radius: 5px;
  background-color: #46B20F;
}

.footer {
  background-color: #F2FFEC;
  margin-top: 100px;
  padding: 63.92px 0 26.67px 0;
}
.footer .footer-box {
  padding: 0 107.83px;
}
.footer .footer-box .first-footer h6 a {
  color: #46B20F;
}
.footer .footer-box .first-footer .logo-footer img {
  width: 132px;
  height: 89px;
}
.footer .footer-box .first-footer span {
  margin-top: 24.58px;
  font-size: 13.333px;
}
.footer .footer-box .first-footer i {
  color: #FF6916;
}
.footer .footer-box .first-footer .footer-home {
  display: flex;
  flex-direction: column;
  gap: 6.67px;
}
.footer .footer-box .first-footer .footer-support {
  display: flex;
  flex-direction: column;
  gap: 6.67px;
}
.footer .footer-box .first-footer .footer-support p {
  font-weight: 600;
}
.footer .footer-box .first-footer .footer-support p i {
  margin-right: 10px;
}
.footer .footer-box .first-footer .footer-contact {
  display: flex;
  flex-direction: column;
}
.footer .footer-box .first-footer .footer-contact span {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 6.67px;
}
.footer .footer-box .first-footer .footer-contact span i {
  margin-right: 10px;
}
.footer .footer-box .footer-line {
  width: 100%;
  height: 3px;
  background-color: #A3A3A3;
  margin: 24.17px 0;
}
.footer .footer-box .second-footer {
  width: 100%;
}
.footer .footer-box .second-footer .confirm img {
  width: 174.167px;
  height: 66.667px;
}
.footer .footer-box .second-footer .share {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.footer .footer-box .second-footer .share a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #dcffca;
  border-radius: 99px;
  margin-left: 6.67px;
}

@media screen and (max-width: 1399px) {
  .banner .container .background-green {
    height: 100%;
  }
  .banner .container .background-green .banner-box {
    position: relative;
  }
  .banner .container .background-green .banner-box .banner-box-content {
    position: absolute;
    top: 100px;
    left: 370px;
    height: auto;
  }
  .banner .container .background-green .banner-box .banner-box-content p {
    font-size: 133.3336px;
    writing-mode: vertical-lr;
    line-height: 117.3336px;
  }
}
@media screen and (max-width: 1199px) {
  .banner .container .background-green {
    height: 800px;
  }
  .banner .container .background-green .banner-box {
    position: relative;
  }
  .banner .container .background-green .banner-box .image {
    position: absolute;
    top: 0px;
    left: 0;
  }
  .banner .container .background-green .banner-box .image img {
    width: 490.904px;
    height: 492.5368px;
  }
  .banner .container .background-green .banner-box .banner-box-content {
    position: absolute;
    top: 480px;
    left: 2%;
    height: auto;
  }
  .banner .container .background-green .banner-box .banner-box-content p {
    font-size: 132.0003px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    writing-mode: initial;
    color: #216000;
    line-height: 146.667px;
    opacity: 0.15;
  }
  .banner .container .banner-content {
    margin: 100px 12%;
  }
  .banner .container .banner-content h2 {
    max-width: 100%;
  }
  .banner .container .banner-content p {
    max-width: 94%;
  }
}
@media screen and (max-width: 992px) {
  .banner .container .background-green {
    height: 500px;
    width: 100%;
  }
  .banner .container .background-green .banner-box {
    position: relative;
  }
  .banner .container .background-green .banner-box .image {
    position: absolute;
    top: 0px;
    left: 20%;
  }
  .banner .container .background-green .banner-box .image img {
    width: 490.904px;
    height: 492.5368px;
  }
  .banner .container .background-green .banner-box .banner-box-content {
    display: none;
    position: absolute;
    top: 480px;
    left: 2%;
    height: auto;
  }
  .banner .container .background-green .banner-box .banner-box-content p {
    font-size: 132.0003px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    writing-mode: initial;
    color: #216000;
    line-height: 146.667px;
    opacity: 0.15;
  }
  .about .container .about-content .first-circle::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: #DCFFCA;
    border-radius: 99px;
    position: absolute;
  }
  .about .container .about-content .second-circle::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: #FFD5BD;
    border-radius: 99px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .about .container .about-content .ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    margin: 60px auto;
  }
  .about .container .about-content .ratings .ratings-item {
    display: flex;
    flex-direction: row;
    padding: 40px 20px 20px 20px;
    margin-top: 0;
    gap: 20px;
    width: 90%;
    height: auto;
    align-items: center;
  }
  .about .container .about-content .ratings .ratings-item .icon-background {
    width: 83.333px;
    height: 83.333px;
    background-color: #FFF0E7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about .container .about-content .ratings .ratings-item h3 {
    color: var(--Content, #2C2C2C);
    font-family: Inter;
    font-size: 43.333px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 23.33px 0;
  }
  .about .container .about-content .ratings .ratings-item p {
    color: var(--Content, #2C2C2C);
    font-size: 20px;
    line-height: 30.833px;
    text-align: left;
    max-width: 50%;
    line-height: 30px;
  }
  .about .container .about-content .ratings .ratings-center-item {
    display: flex;
    flex-direction: row;
    padding: 40px 20px 20px 20px;
    gap: 20px;
    width: 100%;
    height: auto;
    align-items: center;
  }
  .about .container .about-content .ratings .ratings-center-item .icon-background {
    width: 83.333px;
    height: 83.333px;
    background-color: #F2FFEC;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about .container .about-content .ratings .ratings-center-item h3 {
    color: var(--Content, #2C2C2C);
    font-size: 43.333px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 23.33px 0;
  }
  .about .container .about-content .ratings .ratings-center-item p {
    color: var(--Content, #2C2C2C);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.833px;
    text-align: left;
  }
  .benefit::before {
    content: "";
    background-color: #FFF0E7;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .contact .contact-img {
    width: 50%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .banner .container .background-green {
    height: 500px;
    width: 100%;
  }
  .banner .container .background-green .banner-box {
    position: relative;
  }
  .banner .container .background-green .banner-box .image {
    position: absolute;
    top: 0px;
    left: 7%;
  }
  .banner .container .background-green .banner-box .image img {
    width: 490.904px;
    height: 492.5368px;
  }
  .banner .container .background-green .banner-box .banner-box-content {
    display: none;
  }
  .about .container .about-content {
    margin-top: 20px;
  }
  .about .container .about-content .first-circle::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: #DCFFCA;
    border-radius: 99px;
    position: absolute;
  }
  .about .container .about-content .second-circle::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: #FFD5BD;
    border-radius: 99px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .about .container .about-content .ratings .ratings-item .icon-background {
    width: 83.333px;
    height: 83.333px;
    background-color: #FFF0E7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about .container .about-content .ratings .ratings-item h3 {
    color: var(--Content, #2C2C2C);
    font-family: Inter;
    font-size: 43.333px;
    font-weight: 800;
    line-height: normal;
    margin: 23.33px 0;
  }
  .about .container .about-content .ratings .ratings-item p {
    color: var(--Content, #2C2C2C);
    font-size: 20px;
    line-height: 30.833px;
    text-align: left;
    max-width: 50%;
    line-height: 30px;
  }
  .about .container .about-content .ratings .ratings-center-item {
    display: flex;
    flex-direction: row;
    padding: 40px 20px 20px 20px;
    gap: 20px;
    width: 100%;
    height: auto;
  }
  .about .container .about-content .ratings .ratings-center-item .icon-background {
    width: 83.333px;
    height: 83.333px;
    background-color: #F2FFEC;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about .container .about-content .ratings .ratings-center-item h3 {
    color: var(--Content, #2C2C2C);
    font-size: 43.333px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 23.33px 0;
  }
  .about .container .about-content .ratings .ratings-center-item p {
    color: var(--Content, #2C2C2C);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.833px;
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  .banner .container .background-green .banner-box {
    position: relative;
  }
  .banner .container .background-green .banner-box .image {
    position: absolute;
    top: 0px;
    left: 6%;
  }
  .banner .container .background-green .banner-box .image img {
    width: 100%;
    height: 100%;
  }
  .banner .container .background-green .banner-box .banner-box-content {
    display: none;
    position: absolute;
    top: 480px;
    left: 2%;
    height: auto;
  }
  .banner .container .background-green .banner-box .banner-box-content p {
    font-size: 132.0003px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    writing-mode: initial;
    color: #216000;
    line-height: 146.667px;
    opacity: 0.15;
  }
  .footer .footer-box {
    padding: 20px;
  }
  .footer .footer-box .second-footer .confirm {
    display: flex;
    justify-content: center;
  }
  .footer .footer-box .second-footer .share {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
