.header {
    position: fixed;
    width: 100%;
    max-height: 50px;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 100;
    background: transparent;
    .navbar {
        .container {
            display: flex;
            flex-direction: row ;
            align-items: center;
            justify-content: space-between;
            .logo {
                width: 20%;
                img {
                    object-fit: contain;
                }
            }
            .header-box {
                i {
                    font-size: 30px;
                    color: #fff;
                }
            } 
            .menu {
                ul  {
                    display: flex;
                    flex-direction: row ;
                    row-gap: 20px;
                    li {
                        margin-left: 10px;
                        a {
                            font-size: 13px;
                            color: #fff;
                            text-transform: uppercase;
                            font-weight: 600;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}
  