
// @media screen and (max-width: 1199px) {
//     .contact-us {
//         .contact-content {
//             .contact-info {
//                 .contact-item {
//                     p {
                       
//                     }
//                 }
//             }
//         }
//     }
// }

@media screen and (max-width: 991px) {
    .container {
        flex-wrap: wrap;
    }
    .header {
        .navbar {
            .container {
                .header-box {
                    display: block;
                }
                .menu {
                    // padding: 10px 0;
                    display: none;
                    width: 100%;
                    text-align: center;
                    background-color: gray;
                    ul {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .header-box {
                    padding-right: 10px;
                }  
                #navbar-checkbox {
                    &:checked ~ .menu {
                        display: block;
                    }
                }

            }
        }
    }

    .banner {
        .iphone-banner {
            margin-top: 20px;
        }
    }

    .contact-us {
        .contact-content {
            .contact-info {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .feature {
        .feature-content {
            .feature-mobile {
                display: none;
            }
        }
    }

    .member {
        .member-content {
            .member-detail {
                margin-top: 30px;
                img {
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}



