
@media screen and (max-width: 991px) {
    .container {
        flex-wrap: wrap;
    }

    #navbar-checkbox {
        &:checked ~ .header .navbar .container {
            .menu {
                display: block;
            }
        }
    }

    .header {
        .navbar {
            .container {
                .header-box {
                    display: block;
                }
                .menu {
                    display: none;
                    width: 100%;
                    text-align: center;
                    background-color: gray;
                    ul {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .header-box {
                    padding-right: 10px;
                }  

            }
        }
    }

    .banner {
        .iphone-banner {
            margin-top: 20px;
        }
    }
    .contact-us {
        .contact-content {
            .contact-info {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .about {
        .about-header {
            max-width: 100%;
        }
    }

    .feature {
        .feature-header {
            max-width: 100%;
        }
        .feature-content {
            .feature-mobile {
                display: none;
            }
        }
    }

    .member {
        .member-header {
            max-width: 100%;
        }
        .member-content {
            .member-detail {
                margin-top: 30px;
                img {
                    width: 50%;
                }
            }
        }
    }

    .testimonials {
        .testimonials-header {
            max-width: 100%;
        }
        .testimonials-content {
            .arrow-left, .arrow-right {
                display: none;
            }
            .box-wrapper {
                width: 100%;
                .slider {
                    .slider-item {
                        text-align: center;
                        flex-direction: column;
                        .slider-img {
                            img {
                               width: 200px;
                               height: 200px;
                            }
                        }
                    }
                }
            
        }

        }
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}



