.container {
  width: 100%;
  }
.container-item {
  background-color: #e94d1b;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
  }
.container-item input[type="checkbox"] {
  display: none;
  }
.container-item label {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  color: white;
  font-size: 18px;

  }
.container-item label::before {
  content: "\002B"; 
  font-size: 24px;
  margin-right: 10px;
  }
.container-item input[type="checkbox"]:checked + label::before {
  content: "\2212"; 
  font-size: 24px;
  margin-right: 10px;
  }
.container-item .content {
  max-height: 0;
  padding-left: 15px;
  overflow: hidden;
  background-color: white;
  }
.content ol{
  padding-left: 15px;
  margin: 0;
}
.container-item input[type="checkbox"]:checked ~ .content {
  max-height: 500px;
  }
p{
  margin: 0;
}