@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Asap', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: auto;
}
.container h2{
    font-size: 1rem;
    margin-left: 5px;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.tab {
    background-color: #eee;
    border: none;
    border-radius: 99px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    font-size: 0.8rem;
}
.tab:first-child {
    background-color: #d4af37;
    color: #fff;
}
.tab span {
    display: block;
    font-size: 0.55rem;
    font-style: italic;
    font-weight: 550;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item {
    background-size: cover;
    background-position: center;
    margin: 10px;
    width: calc(33% - 17px);
    height: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.item h3{
    color: white;
    width: 100%;
    height: 50%;
    position: relative;
    top: 5%;
    left: 10%;
}
.item span{
    width: 100%;
    height: 50%;
    position: relative;
    bottom: -10%;
    left: 10%;
    color: white;
    font-size: 0.8rem;
    float: left;
}
.item span b{
    color: rgba(255, 255, 255, 0.658);
    font-weight: 450;
}
.item.quận2 {
    background-image: url('https://fastly.picsum.photos/id/243/600/300.jpg?hmac=LLcyBBMyVCbNwHz4w_0bm_s2p8SERhr9iyzg0i_lpF0');
}

.item.quận7 {
    background-image: url('https://fastly.picsum.photos/id/243/600/300.jpg?hmac=LLcyBBMyVCbNwHz4w_0bm_s2p8SERhr9iyzg0i_lpF0');
}

.item.quận9 {
    background-image: url('https://fastly.picsum.photos/id/243/600/300.jpg?hmac=LLcyBBMyVCbNwHz4w_0bm_s2p8SERhr9iyzg0i_lpF0');
}

.item.quận-tân-bình {
    background-image: url('https://fastly.picsum.photos/id/243/600/300.jpg?hmac=LLcyBBMyVCbNwHz4w_0bm_s2p8SERhr9iyzg0i_lpF0');
}

.item.thành-phố-thủ-đức {
    background-image: url('https://fastly.picsum.photos/id/243/600/300.jpg?hmac=LLcyBBMyVCbNwHz4w_0bm_s2p8SERhr9iyzg0i_lpF0');
}

.item.huyện-bình-chánh {
    background-image: url('https://fastly.picsum.photos/id/243/600/300.jpg?hmac=LLcyBBMyVCbNwHz4w_0bm_s2p8SERhr9iyzg0i_lpF0');
}
