@mixin header {
    font-family: Inter;
    font-size: 31.667px;
    font-weight: 800;
    line-height: 41.649px;
}

@mixin content {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.417px;
} 