img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

#category-head {
  margin-bottom: 50px;
}

#category {
  display: flex;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgba(171, 169, 169, 0.098); */
  border-radius: 20px;
  transition: transform 0.2s;
}

.product-container:hover {
  transform: scale(1.02);
  border: 1px solid grey;
}

.product-info {
  border-radius: 10px;
  background-color: rgba(171, 169, 169, 0.158);
}

.sort,
.filter {
  font-size: 2rem;
  margin-top: 10px;
}

#filter-price-btn {
  font-size: 1.8rem;
}
