.container{
    padding: 5px;
    background-color: #ccc;
    border-radius: 5px;
    width: 600px;
}
.form {
    background-color: #ccc;
    border-radius: 5px;
    width: 100%;
}
input, select{
    width: 90%;
    padding: 5px;
}
th{
    font-weight: initial;
    text-align: left;
}
button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
}
.optional {
    font-size: 0.9em;
    color: #666;
}
