header {
    background: var(--White, #FFF);
    box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    z-index: 100;
    .logo {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .container {
        .row {
            display: flex;
            align-items: center;
            .navbar {

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 50px;
                    li {
                        position: relative;
                        .num {
                            position: absolute;
                            top: 25px ;
                            left: 14px;
                            font-size: 10px;
                            color: #fff;
                            z-index: 10;
                        }
                        .header-cart {
                            position: relative;
                            &::after {
                                content: "";
                                background-color: #E05000;
                                position: absolute;
                                width: 13.333px;
                                height: 13.333px;
                                border-radius: 99px;
                                top: 25px;
                                left: 10px;
                            }
                            i {
                                width: 23.333px;
                                height: 23.333px; 
                            }
                        }
                        a {
                            display: flex;
                            padding: 35px 0;
                        }
                        &:hover {
                            border-bottom: 1px solid #46B20F;
                        }

                    }
                    .header-active {
                        border-bottom: 1px solid #46B20F;
                        a {
                            color: #46B20F;
                        }
                    }
                }
        
            }
        }

    }

}

@media screen and (max-width: 1199px) {
    header {
        .container {
            .row {
                .navbar {
                    padding-right: 30px ;            
                }
            }
    
        }
    
    }
}

@media screen and (max-width: 991px) {
    #bar-check {
        &:checked ~ header .container  {
            .navbar {
                max-height: 500px; 
                opacity: 1; 
            } 
        }
    }

    header {
        .container {
            .row {
                .navbar {
                    display: block;
                    max-height: 0; 
                    overflow: hidden;
                    transition: max-height 0.5s ease, opacity 0.5s ease;
                    opacity: 0;
                    text-align: center;
                    background-color: #C5FFA8;
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 0;
                        li {
                            text-align: center;
                            .num {
                                top: 25px;
                                left: 16px;
                            }
                            .header-cart {
                                &::after {
                                    content: "";
                                    background-color: #E05000;
                                    position: absolute;
                                    border-radius: 99px;
                                    top: 25px;
                                    left: 12px;
                                }
                                i {
                                    width: 23.333px;
                                    height: 23.333px; 
                                }
                            }
                        }

                    }
                }
                .bar {
                    font-size: 2.2rem;
                    margin-left: auto;
                    padding-right: 30px ;
                }

            }
        }
    }
}



@media screen and (min-width: 991px) {
    header {
        .container {
            .row {
                .bar {
                    display: none;
                }
            }
        }
    }
}
